*, ::after, ::before {
    box-sizing: border-box;
}

body {
	font-family: "Nanum Gothic", sans-serif;
	background-color: #222;
  color: #fff;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: #fff;
}

#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(23px) brightness(0.7) saturate(0.5);
	z-index: -1;
	animation: videoSlow 20s linear infinite;
  opacity: 1;
  transition: opacity 2s;
}

@keyframes videoSlow {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(2.05);
	}
}

.material-symbols-outlined {
  vertical-align: sub;
  font-size: 23px;
}

.sidebar {
  color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 3%;
	height: 100vh;
	background-color: #222;
	transition: width 0.3s ease;
	overflow: hidden;
	z-index: 1;
}

.sidebar:hover {
	width: 15%;
}

.logo {
  font-family: "Unbounded";
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 15px;
}

.divider {
  margin-top: 15px;
  color: #4c647a;
}

.sidebar-options {
	padding: 25px;
}

.sidebar-options a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.sidebar-option-text {
	opacity: 0;
	transition: opacity 0.5s ease;
	transition-delay: 0.05s; /* delay for 0.5s */
}

#sidebar-option-text2 {
  transition: color 0.2s ease;
}

.sidebar:hover .sidebar-option-text {
	opacity: 1;
}

.sidebar-user-pic {
  position: absolute;
  bottom: 60px;
  left: 16px;
  white-space: nowrap;
}

.sidebar-user {
  position: absolute;
  bottom: 20px;
  left: 17px;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar-user a {
  color: white;
  text-decoration: none;
}

.sidebar-options #sidebar-option-text2:hover {
  color: #72afb4;
}

.sidebar-user #sidebar-option-text2:hover {
  color: #72afb4;
}

.main-content {
	margin-left: 3%;
	padding: 20px;
  height: 100vh;
	filter: blur(0);
  transition: filter 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard:hover ~ .main-content {
	filter: blur(5px);
}

#title {
  font-family: "Unbounded";
  margin-top: 10px;
  color: #99999990;
}

.center-content {
  font-size: 30px;
  width: 25%;
  color: #fff;
  text-align: center;
  margin: auto;
}

.range-div,
.select-div {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.range-div.visible,
.select-div.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: auto;
}

.range-div {
  z-index: -1;
}

.select-div {
  z-index: 2;
}

.range {
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.material-symbols-outlined .form-label {
  font-size: 300px;
}

.label-left {
  margin-right: 25px;
  flex: 1;
  text-align: left;
}

.label-right {
  margin-left: 25px;
  flex: 1;
  text-align: right;
}

.buttons {
  margin-bottom: auto;
  margin-top: -500px;
}

input[type=range] {
  width: 100%;
  margin: 3.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 16.5px;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -3.9px;
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #414543;
}

input[type=range]::-moz-range-track {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 16.5px;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.3px 0;
  color: transparent;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #1f211f;
  border: 0.6px solid #010101;
  border-radius: 33px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 33px;
}

input[type=range]::-ms-thumb {
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 51, 49, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
  background: #414543;
}

.login {
  margin-top: 150px;
}

.form {
	 width: 300px;
	 padding: 64px 15px 24px;
	 margin: 0 auto;
   font-family: "Unbounded";
}
 .form .control {
	 margin: 0 0 24px;
}

 .form .control h1 {
	 padding-bottom: 24px;
}

 .form .control input {
	 width: 100%;
	 padding: 14px 16px;
	 border: 0;
	 background: transparent;
	 color: #fff;
	 letter-spacing: 0.05em;
	 font-size: 16px;
}
 .form .control input:hover, .form .control input:focus {
	 outline: none;
	 border: 0;
}
 .form .btn {
	 width: 100%;
	 display: block;
	 padding: 14px 16px;
	 background: transparent;
	 outline: none;
	 border: 0;
	 color: #fff;
	 letter-spacing: 0.1em;
	 font-weight: bold;
	 font-size: 16px;
}
 .block-cube {
	 position: relative;
}
 .block-cube .bg-top {
	 position: absolute;
	 height: 10px;
	 background: #020024;
	 background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
	 bottom: 100%;
	 left: 5px;
	 right: -5px;
	 transform: skew(-45deg, 0);
	 margin: 0;
}
 .block-cube .bg-top .bg-inner {
	 bottom: 0;
}
 .block-cube .bg {
	 position: absolute;
	 left: 0;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 background: #020024;
	 background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 37%, rgba(0, 212, 255, 1) 94%);
}
 .block-cube .bg-right {
	 position: absolute;
	 background: #020024;
	 background: rgba(0, 212, 255, 1);
	 top: -5px;
	 z-index: 0;
	 bottom: 5px;
	 width: 10px;
	 left: 100%;
	 transform: skew(0, -45deg);
}
 .block-cube .bg-right .bg-inner {
	 left: 0;
}
 .block-cube .bg .bg-inner {
	 transition: all 0.2s ease-in-out;
}
 .block-cube .bg-inner {
	 background: #212121;
	 position: absolute;
	 left: 2px;
	 top: 2px;
	 right: 2px;
	 bottom: 2px;
}
 .block-cube .text {
	 position: relative;
	 z-index: 2;
}

 .block-cube.block-input input {
	 position: relative;
	 z-index: 2;
}
 .block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
	 top: 100%;
	 background: rgba(255, 255, 255, 0.5);
}
 .block-cube.block-input .bg-top, .block-cube.block-input .bg-right, .block-cube.block-input .bg {
	 background: rgba(255, 255, 255, 0.5);
	 transition: background 0.2s ease-in-out;
}
 .block-cube.block-input .bg-right .bg-inner, .block-cube.block-input .bg-top .bg-inner {
	 transition: all 0.2s ease-in-out;
}
 .block-cube.block-input:focus .bg-top, .block-cube.block-input:hover .bg-top, .block-cube.block-input:focus .bg-right, .block-cube.block-input:hover .bg-right, .block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg {
	 background: rgba(255, 255, 255, 0.8);
}
 .block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
	 top: 100%;
}


@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}


@media screen and (min-width: 720px) and (max-width: 1920px) {
  .sidebar {
    width: 4%;
  }

  .buttons {
    margin-top: -300px;
  }
}


