#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-family: "Nanum Gothic", sans-serif;
}

#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(23px) brightness(0.7) saturate(0.5);
	z-index: -1;
	animation: videoSlow 20s linear infinite;
  opacity: 1;
  transition: opacity 2s;
}

@keyframes videoSlow {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(2.05);
	}
}

.material-symbols-outlined {
  vertical-align: center;
  font-size: 23px;
}

.sidebar {
  color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 3%;
	height: 100vh;
	background-color: #222;
	transition: width 0.3s ease;
	overflow: hidden;
	z-index: 1;
}

.sidebar:hover {
	width: 15%;
}

.logo {
  font-family: "Unbounded";
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
	display: flex;
	align-items: center;
}

.logo img {
	margin-right: 15px;
}

.divider {
  margin-top: 15px;
  color: #4c647a;
}

.sidebar-options {
	padding: 25px;
}

.sidebar-options a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.sidebar-option-text {
	opacity: 0;
	transition: opacity 0.5s ease;
	transition-delay: 0.05s; /* delay for 0.5s */
}

#sidebar-option-text2 {
  transition: color 0.2s ease;
}

.sidebar:hover .sidebar-option-text {
	opacity: 1;
}

.sidebar-options #sidebar-option-text2:hover {
  color: #72afb4;
}

.main-content {
	margin-left: 3%;
	padding: 20px;
  height: 100vh;
	filter: blur(0);
  transition: filter 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard:hover ~ .main-content {
	filter: blur(5px);
}

#title {
  font-family: "Unbounded";
  margin-top: 10px;
  color: #99999990;
}

.center-content {
  font-size: 30px;
  width: 25%;
  color: #fff;
  text-align: center;
  margin: auto;
}

.range-div,
.select-div {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.range-div.visible,
.select-div.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  height: auto;
}

.range-div {
  z-index: -1;
}

.select-div {
  z-index: 2;
}

.range {
  padding: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.material-symbols-outlined .form-label {
  font-size: 300px;
}

.label-left {
  margin-right: 25px;
  flex: 1;
  text-align: left;
}

.label-right {
  margin-left: 25px;
  flex: 1;
  text-align: right;
}

.buttons {
  margin-bottom: auto;
  margin-top: -500px;
}

input[type=range] {
  width: 100%;
  margin: 3.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 16.5px;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -3.9px;
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #414543;
}

input[type=range]::-moz-range-track {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 16.5px;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.3px 0;
  color: transparent;
  width: 100%;
  height: 10.4px;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: #1f211f;
  border: 0.6px solid #010101;
  border-radius: 33px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(48, 51, 49, 0.5);
  border: 0.6px solid #010101;
  border-radius: 33px;
}

input[type=range]::-ms-thumb {
  width: 34px;
  height: 17px;
  background: #00c6ff;
  border: 0.6px solid #000000;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 51, 49, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
  background: #414543;
}

@supports (-ms-ime-align:auto) {
  input[type=range] {
    margin: 0;
  }
}


@media screen and (min-width: 720px) and (max-width: 1920px) {
  .dashboard {
    width: 4%;
  }

  .buttons {
     margin-top: -300px;
  }

}

